@font-face {
  font-family: 'Inter Italic';
  src: url('fonts/Inter-italic.var.woff2');
}

@font-face {
  font-family: 'Inter Italic Latin';
  src: url('fonts/Inter-italic.var-latin.woff2');
}

@font-face {
  font-family: 'Inter Roman';
  src: url('fonts/Inter-roman.var.woff2');
}

@font-face {
  font-family: 'Inter Roman Latin';
  src: url('fonts/Inter-roman.var-latin.woff2');
}

html {
  font-family: 'Inter Roman Latin';
  font-size: 1.45em;
  height: 100%;
}

body {
  color: #000;
  background-color: #fff;
  font-size: 20px;
  word-wrap: break-word;
  font-kerning: normal;
  margin: 0 auto;
  margin-bottom: 1 em;
  max-width: 800px;
  line-height: 28px;
  padding: 0 8px;
}

ul li a {
  font-weight: 500;
  font-size: 0.9em;
  line-height: 1.5rem;
  text-decoration: none;
}

a:link,
a:visited {
  color: #319795;
}

a:hover {
  color: #2c7a7b;
}

div {
  max-width: 672px;
  margin: 0 auto;
  padding: 5px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  max-width: 500px;
  padding: 5px 0;
}

h1.title {
  font-size: 1.45em;
  border-bottom: solid #000 1px;
  text-align: center;
  margin: 0;
  max-width: 500px;
}

#preamble img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

#content {
  max-width: 500px;
  margin: 0 auto;
}

#preamble {
  font-weight: bold;
  line-height: 24px;
  border-bottom: solid #000 4px;
  margin-bottom: 1em;
  padding: 5px 0;
  margin: 12px auto;
  max-width: 672px;
}

#preamble a:link,
#preamble a:visited {
  max-width: 500px;
  display: inline-block;
  border: none;
  margin: 0 auto;
  padding: 5px 0;
  margin-right: 1em;
  text-decoration: none;
}

#preamble a:active,
#preamble a:hover {
  border: none;
  background-color: transparent;
  color: #2c7a7b;
}

#postamble {
  max-width: 672px;
  border-top: solid #bab2b5 1px;
  color: #000;
  font-style: italic;
  text-align: right;
  margin: 1em auto;
  padding: 0 1em;
}

#postamble a.source-link:link,
#postamble a.source-link:visited {
  margin-bottom: 16px;
  border-bottom: none;
  color: #ccc;
  font-family: monospace;
  font-size: 0.8em;
  font-style: normal;
  line-height: 24px;
  text-transform: lowercase;
  text-decoration: none;
}

#postamble a.source-link:hover,
#postamble a.source-link:active {
  background-color: transparent;
  color: #0f0;
}

hr {
  max-width: 696px;
  border: 1px solid #000;
}

p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  line-height: 1.75;
}

p,
ul {
  max-width: 500px;
}

sup {
  color: #a0aec0;
  line-height: 1.5rem;
  font-size: 12px;
  font-weight: 500;
  display: block;
  white-space: pre-line;
}

table {
  margin: 12px auto;
  max-width: 500px;
}

ul li {
  color: #1a202c;
  letter-spacing: -0.025em;
  font-weight: 700;
  font-size: 1.0em;
}

li {
  padding-top: 3rem;
  padding-bottom: 3rem;
  list-style: none;
  white-space: pre-line;
}

li p {
  font-size: 16px !important;
  margin: 0;
}

pre {
  margin: 0 auto;
  max-width: 500px;
}

div.figure {
  text-align: center;
}

div.figure {
  text-align: center;
}

div.figure p,
div.figure img {
  max-width: 800px;
}

img {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

figure {
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  img {
    width: 350px;
    margin: 0 auto;
    display: block;
  }
}
